@font-face {
    font-family: 'Riffic';
    src: url("../fonts/ofont.ru_Riffic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.game{
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-bar{
    height: 33vh;
    width: 95vw;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.game-result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#result{
    font-family:'Riffic';
    text-align: center;
    font-size: 30px;
}

.set-bar{
    height: 23vh;
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.player-bar{
    height: 23vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.avatar{
    height: 16vh;
    width: 10vw;
}

.username{
    font-family:'Riffic';
    height: 3vh;
    width: 10vw;
}

.leave-group{
    background: crimson;
    height: 3vh;
    width: 10vw;
}

.game-picture {
    height: 75%;
    width: 25%;
    background: azure;
    cursor: pointer;
}

.game-picture_animate {
    height: 75%;
    width: 25%;
    animation: changeBackground 2s ease forwards;
}

@keyframes changeBackground {
    0% {
        background: lightgray;
    }
    50% {
        background: blue;
    }
    100% {
        background: blue;
    }
}


