@font-face {
    font-family: 'Riffic';
    src: url("../fonts/ofont.ru_Riffic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.game-result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#result{
    font-family:'Riffic';
    text-align: center;
    font-size: 30px;
}